html {
  font-size: 100%;
}

body {
  font-family: proximanova;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:not(code):not(pre):not(.token) {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
}

/* Responsive setup */

@media (--media-sm) {
  
  html {
    font-size: 85%;
  }

}
