.c-examples-list {
}

  .c-examples-list > .c-examples-list__item > a {
    display: block;
    padding: var(--space-sm);
    
    box-shadow: 0 1px 0 color( var(--color-purple) alpha(50%) );

    color: var(--color-white);
    text-decoration: none; 
    font-weight: 600;
    font-size: var(--font-nm);
    text-transform: uppercase;
  }

  .c-examples-list > .c-examples-list__item.active > a {
    box-shadow: none;
    background-color: var(--color-purple);
  }

/* Responsive setup */

@media (--media-sm) {

  .c-examples-list > .c-examples-list__item:first-child > a {
    border-top-left-radius: 5px;
  }

}
