.c-home-sect:first-of-type {
  padding-right: var(--space-md);
}

.c-home-sect:last-of-type {
  padding-left: var(--space-md);
}

  .c-home-sect .c-home-sect__img {
    
  }

  .c-home-sect .c-home-sect__head {
    font-size: var(--font-md);
    line-height: 1.3;

    margin-top: var(--space-nm);
    margin-bottom: 0;
  }

  .c-home-sect .c-home-sect__head--double {
    line-height: 2.6;
  }

  .c-home-sect .c-home-sect__text {
    font-size: var(--font-nm);
    color: var(--color-greyscale-2);
    line-height: 1.3;

    margin-top: var(--space-sm);
  }
