.c-home-sect {
}

  .c-home-sect .c-home-sect__img {
    
  }

  .c-home-sect .c-home-sect__head {
    font-size: var(--font-md);
    line-height: 1.3;
  }
  
  .c-home-sect .c-home-sect__head.c-home-sect__head--bold {
    text-transform: uppercase;
    letter-spacing: 2px;

    color: var(--color-white);
  }

  .c-home-sect .c-home-sect__text {
    font-size: var(--font-nm);
    color: var(--color-greyscale-2);
    line-height: 1.3;
  }
