.o-container {
  max-width: calc(75em - var(--space-lg)); /* 1200 /16 */
  padding: var(--space-lg);
  
  margin-left: auto;
  margin-right: auto;
}

/* Responsive setup */

@media (--media-sm) {

  .o-container {
    max-width: calc(75em - var(--space-sm));
    padding: var(--space-sm);
  }

}
