:root {

  --font-xs: 0.625em; /* 10 /16 */
  --font-sm: 0.875em; /* 14 /16 */
  --font-nm: 1.125em; /* 18 /16 */
  --font-md: 1.500em; /* 24 /16 */
  --font-lg: 2.250em; /* 36 /16 */
  --font-lg: 3.000em; /* 48 /16 */

  --space-xs: 0.312em; /* 05 /16 */
  --space-sm: 0.937em; /* 15 /16 */
  --space-nm: 1.562em; /* 25 /16 */
  --space-md: 2.500em; /* 40 /16 */
  --space-lg: 4.062em; /* 65 /16 */
  --space-xl: 6.250em; /* 100 /16 */

}
