.u-p-sm   { padding: var(--space-sm); }
.u-p-nm   { padding: var(--space-nm); }

.u-pt-lg  { padding-top: var(--space-lg); }
.u-pb-lg  { padding-bottom: var(--space-lg); }

.u-pt-xl  { padding-top: var(--space-xl); }
.u-pb-xl  { padding-bottom: var(--space-xl); }

.u-pl-md { padding-left: var(--space-md); }
.u-pr-md { padding-right: var(--space-md); }

/* Responsive setup */

@media (--media-sm) {

  .u-pl-n\@sm { padding-left: 0px; }
  .u-pr-n\@sm { padding-right: 0px; }

}
